/* フォントサイズ */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* フォント */
body {
  /* 参考: https://ics.media/entry/200317/ */
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
}

/* 色の定義 */
.bg-my-white {
  background-color: #fff;
}
.text-my-white {
  color: #fff;
}

.bg-my-black {
  background-color: #222831;
}

.bg-my-boundary-white {
  background-color: rgba(255, 255, 255, 0.16);
}

.bg-my-boundary-black {
  background-color: rgba(34, 40, 49, 0.16);
}

.bg-my-primary {
  background-color: #3f72af;
}

.border-my-black {
  border-color: #222831;
}

.border-my-boundary-black {
  border-color: rgba(34, 40, 49, 0.16);
}
