@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
}

.bg-my-black {
  background-color: #222831;
}

.bg-my-boundary-white {
  background-color: rgba(255, 255, 255, 0.16);
}

.bg-my-boundary-black {
  background-color: rgba(34, 40, 49, 0.16);
}

.bg-my-primary {
  background-color: #3f72af;
  /* background-color: #8be9fd; */
  /* background-color: #bd93f9; */
}

.border-my-black {
  border-color: #222831;
}

.border-my-boundary-black {
  border-color: rgba(34, 40, 49, 0.16);
}

.text-my-primary {
  color: #3f72af;
}
